@{
	ViewBag.Title = "Sponsor - Little Rock Tech Fest";
	ViewBag.MetaDescription = "Sponsor our event! Little Rock Tech Fest, organized by the Little Rock .NET User Group, is a one day tech fest serving the Greater Little Rock area.";
	ViewBag.BodyCssClass = "content-page sponsor-us";
}

<div class="content-header">
	<div class="container">
		<h1>Sponsors</h1>
	</div>	
</div>

<div class="content-container">
	<div class="container">
	    <div class="row copy">
            <div class="span10 offset1"><b><a href="mailto:sponsors@lrdnug.org?Subject=TechFest%20Sponsorship">Want to Sponsor? Let us know!</a></b></div>
        </div>
	    <div class="row copy">
			@*<div class="span2">&nbsp;</div>*@
		    <div class="span5 offset1">
			    <p>Want a chance to market your brand to 300 - 500 Central Arkansas developers and IT professionals? We are looking for a few good sponsors. </p>
				
			    <p>We’ll always accept cash, but we encourage you to consider sponsoring us through more inventive means as well. Consider things such as sponsoring prize giveaways, running a contest culminated at the event, sponsor lunch or come up with your own creative way you’d like to help our conference. </p>
		    </div>
		    <div class="span5">
			    <p>Doing something creative and cool for us helps you look good, too. We’ll be happy to help you pull it off, <b><a href="mailto:sponsors@lrdnug.org?Subject=TechFest%20Sponsorship">just drop us a line</a></b>.</p>
				
			    <p>All sponsors will be listed as a sponsor on the LR Tech Fest website. You’ll also have the opportunity to include marketing materials or swag in conference packets given to each attendee. Sponsorship levels and additional information about each are as follows:</p>
		    </div>

	    </div>
	    <div class="row">
		    <div class="span10 offset1">
		    <table class="table table-bordered">
			    <thead>
				    <tr>
				    <th width="220px">Level</th>
				    <th width="220px">Donation Value</th>
				    <th>Description</th>
				    </tr>
			    </thead>
			    <tbody>
				    <tr>
					    <td class="bronze">Bronze</td>
					    <td><span class="price">$100 - $500</span></td>
					    <td>Bronze sponsors are listed on our sponsor page and are announced in the prize giveaway portion of the event in the Bronze Sponsors section.</td>
				    </tr>
				    <tr>
					    <td class="silver">Silver</td>
					    <td><span class="price">$500 - $999</span></td>
					    <td><p>Silver sponsors are listed on our sponsor page and are announced in the prize giveaway portion in the Silver Sponsors section.</p>

						    <p>Silver sponsors are mentioned on the conference T-Shirts<sup>3</sup> in the Silver Sponsor section.</p></td>
				    </tr>
				    <tr>
					    <td class="gold">Gold</td>
					    <td><span class="price">$1000 - $1999</span></td>
					    <td><p>Gold sponsors are listed on our sponsor page and are announced in the prize giveaway portion in the Gold Sponsors section.</p>

						    <p>Gold sponsors are listed on the announcements and reminders preceding the event<sup>2</sup>.</p>
								
						    <p>Gold sponsors are mentioned on the conference T-Shirts<sup>3</sup> in the Gold Sponsor section.</p></td>
				    </tr>
				    <tr>
					    <td class="platinum">Platinum</td>
					    <td><span class="price">$2000+</span></td>
					    <td><p>Platinum sponsors are listed on our sponsor page and are announced in our monthly meeting in the Platinum Sponsors section.</p>
								
						    <p>Platinum sponsors are listed on the announcements and reminders preceding the event<sup>2</sup>.</p>
								
						    <p>Platinum sponsors are mentioned on the conference T-Shirts<sup>3</sup> in the Platinum Sponsor section.</p></td>
				    </tr>
				    <tr>
					    <td class="vendor">Vendor Table</td>
					    <td><span class="price">$500</span></td>
					    <td><p>Vendor tables are limited to the number of tables that can fit in the allotted section of the conference center.</p>

						    <p>Something special we are doing this year is the Vendor Challenge<sup>1</sup> which all vendors are encouraged to participate in to promote their products and services.  Participation in the Vendor Challenge is covered by the Vendor Table fee.</p></td>
				    </tr>
			    </tbody>				
		    </table>
		    </div>
	    </div>
		<div class="row">
			<div class="span10 offset1">
			<p><sup>1</sup> The Vendor Challenge is a game played during the lunch hour in which attendees are encouraged to visit every vendor table at the conference and have them sign their game card. Once all vendors have signed, the attendee can submit the card for a chance to win a prize giveaway.</p>
			<p><sup>2</sup> Announcements and reminders will be sent to Little Rock .NET User Group monthly newsletters e-mail list which reaches an audience of 400+ IT professionals in the central Arkansas area as well as to all of the attendees who have signed up for the conference.</p>
			<p><sup>3</sup> Each attendee will receive a conference T-Shirt with the Little Rock TechFest conference logo on the front and sponsors listed on the back. The sponsors are listed in the Platinum, Gold and Silver sponsor sections.</p>
			</div>
		</div>
	</div> 
</div>
