@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="brand">Little Rock Tech Fest</h1>
    
    <div id="timer">
        <div id="timer-div"></div>
        <p>Until Little Rock's biggest developer event returns</p>

        <div class="subscribe">
            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                         #mc_embed_signup {
                             /*background: #fff;*/
                             clear: left;
                             /*font: 14px Helvetica,Arial,sans-serif;*/
                         }
                         /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="">
                <form action="http://lrdnug.us2.list-manage.com/subscribe/post?u=8067ea5d5e1f796c71c1d3673&amp;id=ecc720713a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_8067ea5d5e1f796c71c1d3673_ecc720713a" value=""></div>
                    @*<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>*@
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </form>
            </div>

            <!--End mc_embed_signup-->
        </div>

    </div>
</div>

<div class="row">


</div>


@section scripts {

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/jquery.countdown.css")">
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.plugin.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.countdown.min.js")"></script>

    <script type="text/javascript">

        $(function () {
            $('#timer-div').countdown({ until: new Date(2014, 9 - 1, 25) });
        });
        

    </script>
}