@{
    ViewBag.Title = "Home - Little Rock Tech Fest";
    ViewBag.MetaDescription = "Little Rock Tech Fest, organized by the Little Rock .NET User Group, is a one day tech fest serving the Greater Little Rock area.";
}

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
		<div class="container">
			<div class="row event-info">
                <div class="span3 offset1 left-callout">
                    @if (!String.IsNullOrEmpty(ViewBag.NumberRegistered.ToString())) { 
                        <p class="attending"><span>@ViewBag.NumberRegistered</span> people are attending.</p>
                    }
                    <p><a href="http://lrtechfest.eventbrite.com/?ref=elink" target="_blank" title="Register Today"><img src="@Url.Content("~/img/btn_register_today.png")" alt="Register Today" /></a></p>
                    <div class="social"><div class="tag">SOCIAL</div>

                        <!-- AddThis Follow BEGIN -->
                        <span class="addthis_toolbox addthis_32x32_style addthis_default_style">
                        <a class="addthis_button_facebook_follow" addthis:userid="LittleRockTechFest"></a>
                        <a href="https://twitter.com/lrtechfest/" class="addthis_button_twitter_follow" addthis:userid="LRTechFest"></a>
                        </span>
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50f348700ad414e9"></script>
                        <!-- AddThis Follow END -->


                    </div>

                </div>
				<div class="span8">
				    <h1>Little Rock Tech Fest</h1>
				    <h2>March 1st, 2013</h2>
				    <h3>UALR</h3>
				</div>
			</div>
		</div>
		<div class="container event-more-info">
			<div class="row ">
			    <p>Little Rock Tech Fest is a massive, free one-day technology conference featuring popular 
			    developer topics from industry leaders. Did we mention it's free? Save the date: 3/1/13!</p>
			</div>
		</div>
	</div>


	<div class="event-highlight">
		<div class="container highlight-callout">
		   <div class="row">
	    		<h1>1 day &bull; 4 tracks &bull; 300+ peers </h1>
		   </div>
		</div>
		<div class="container">
		   <div class="row">
		      <div class="span5 offset1">
			      <p>The Little Rock .NET User Group is proud to present Little Rock Tech Fest 2013. LR Tech Fest is continuing in its tradition of providing the largest, free technology conference in central Arkansas on March 1, 2013--please join us in making this conference the best one ever!</p>
			
			      <p>This year we are providing four information-packed tracks presented by industry leaders from all over--which is sure to inspire and enlighten all who attend.</p>
		      </div>
		      <div class="span5">
			      
			      <p>We can bring you such an event for free because of our awesome sponsors, many of whom will be present at the event, with swag and prizes galore. Come hear from professionals in the field, learn about products and services to empower you as a software developer, and mingle with your peers during this day of education and fun.</p>
		      </div>
		   </div>
	    </div>
	</div>
	
	

	<section class="sponsors">
	  <div class="container">
		  <!-- Example row of columns -->
		  <div class="row">
		  	<div class="span12">
		      	<h1>Sponsors</h1>
		  	</div>
		  </div>
		  <div class="row">
            
		    <div class="span2 platinum">
		      <h2>Platinum</h2>
		       <ul>
		       	<li><a href="http://www.idea-loop.com" title="Idea-Loop"><img src="img/logo_idealoop.png" alt="Idea-Loop" /></a></li>
                <li><a href="http://www.lrdnug.org" title="Little Rock .NET User Group"><img src="img/logo_lrdnug.png" alt="Little Rock .NET User Group" /></a></li>
                <li><a href="http://www.codemag.com" title="CODE Magazine"><img src="img/logo_codemagazine.png" alt="CODE Magazine" /></a></li>
		       	<li><a href="/sponsor" title="Your Logo Here">&lt; Your Logo Here &gt;</a></li>
		       </ul>
		      <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
		    </div>
		    <div class="span2 gold">
		      <h2>Gold</h2>
		       <ul>
		         <li><a href="http://redg.at/XRe1hh" title="Redgate"><img src="img/logo_redgate.png" alt="Redgate" /></a></li>
		         <li><a href="/sponsor" title="Your Logo Here">&lt; Your Logo Here &gt;</a></li>
		       </ul>
		    </div>
		    <div class="span2 silver">
		      <h2>Silver</h2>
		       <ul>
                <li><a href="http://www.mainstream-tech.com/" title="Mainstream Technologies"><img src="img/logo_mainstream.png" alt="Mainstream Technologies" /></a></li>
		        <li><a href="https://github.com/" title="GitHub Inc."><img src="img/logo_github.png" alt="GitHub Inc." /></a></li>
		        <li><a href="http://Pluralsight.com/" title="Pluralsight"><img src="img/logo_pluralsight.png" alt="Pluralsight" /></a></li>
                <li><a href="http://oreilly.com/" title="O'Reilly"><img src="img/logo_oreilly.png" alt="O'Reilly" /></a></li>
		       	<li><a href="/sponsor" title="Your Logo Here">&lt; Your Logo Here &gt;</a></li>
		       </ul>
		    </div>
		    <div class="span2 bronze">
		      <h2>Bronze</h2>
		       <ul>
		       	<li><a href="http://www.telerik.com" title="Telerik"><img src="img/logo_telerik.png" alt="Telerik" /></a></li>
                <li><a href="http://www.arkansas.gov" title="Arkansas.gov"><img src="img/logo_argov.png" alt="Arkansas.gov" /></a></li>
                <li><a href="http://eofftech.com/" title="Eoff Technologies"><img src="img/logo_eoff_tech.png" alt="Eoff Technologies" /></a></li>
                <li><a href="http://revunit.com/" title="RevUnit"><img src="img/logo_revunit.png" alt="RevUnit" /></a></li>
                <li><a href="http://www.teksystems.com/" title="TEKsystems"><img src="img/logo_teksystems.png" alt="TEKsystems" /></a></li>
                <li><a href="http://halyardconsulting.com/" title="Halyard Consulting"><img src="img/logo_halyard.png" alt="Halyard Consulting" /></a></li>
		       	<li><a href="/sponsor" title="Your Logo Here">&lt; Your Logo Here &gt;</a></li>
		       </ul>
		    </div>
            
		  </div>
	  </div>
	</section>