@{
    ViewBag.Title = "Little Rock Tech Fest - Home";
    ViewBag.MetaDescription = "Little Rock Tech Fest, organized by the Little Rock .NET User Group, is a one day tech fest serving the Greater Little Rock area.";
}

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
		<div class="container">
			<div class="row event-info">
				<div class="span8">
				    <h1>Little Rock Tech Fest</h1>
				    <h2>March 1st, 2013</h2>
				    <h3>UALR</h3>
				</div>
			</div>
		</div>
		<div class="container event-more-info">
			<div class="row ">
			    <p>Little Rock Tech Fest is a massive, free one-day technology conference featuring popular 
			    developer topics from industry leaders. Did we mention it's free? Save the date: 3/1/13!</p>
			</div>
		</div>
	</div>


	<div class="event-highlight">
		<div class="container highlight-callout">
		   <div class="row">
	    		<h1>1 day &bull; 4 tracks &bull; 300+ peers </h1>
		   </div>
		</div>
		<div class="container">
		   <div class="row">
		      <div class="span5 offset1">
			      <p>The Little Rock .NET User Group is proud to present Little Rock Tech Fest 2013. LR Tech Fest is continuing in its tradition of providing the largest, free technology conference in central Arkansas on March 1, 2013--please join us in making this conference the best one ever!</p>
			
			      <p>This year we are providing four information-packed tracks presented by industry leaders from all over--which is sure to inspire and enlighten all who attend.</p>
		      </div>
		      <div class="span5">
			      
			      <p>We can bring you such an event for free because of our awesome sponsors, many of whom will be present at the event, with swag and prizes galore. Come hear from professionals in the field, learn about products and services to empower you as a software developer, and mingle with your peers during this day of education and fun.</p>
		      </div>
		   </div>
	    </div>
	</div>
	
	

	<section class="sponsors">
	  <div class="container">
		  <!-- Example row of columns -->
		  <div class="row">
		  	<div class="span12">
		      	<h1>Sponsors</h1>
		  	</div>
		  </div>
		  <div class="row">
            
		    <div class="span2 platinum">
		      <h2>Platinum</h2>
		       <ul>
		       	<li><a href="http://www.idea-loop.com" title="Idea-Loop"><img src="img/logo_idealoop.png" alt="Idea-Loop" /></a></li>
		       	<li><a href="/sponsor" title="Your Logo Here">&lt; Your Logo Here &gt;</a></li>
		       </ul>
		      <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
		    </div>
		    <div class="span2 gold">
		      <h2>Gold</h2>
		       <ul>
		       	<li><a href="/sponsor" title="Your Logo Here">&lt; Your Logo Here &gt;</a></li>
		       </ul>
		    </div>
		    <div class="span2 silver">
		      <h2>Silver</h2>
		       <ul>
		       	<li><a href="/sponsor" title="Your Logo Here">&lt; Your Logo Here &gt;</a></li>
		       </ul>
		    </div>
		    <div class="span2 bronze">
		      <h2>Bronze</h2>
		       <ul>
		       	<li><a href="http://www.telerik.com" title="telerik"><img src="img/logo_telerik.png" alt="telerik" /></a></li>
		       	<li><a href="/sponsor" title="Your Logo Here">&lt; Your Logo Here &gt;</a></li>
		       </ul>
		    </div>
            
		  </div>
	  </div>
	</section>