@{
	ViewBag.Title = "Call for Speakers";
	ViewBag.MetaDescription = "Speak at Little Rock Tech Fest! Little Rock Tech Fest, organized by the Little Rock .NET User Group, is a one day tech fest serving the Greater Little Rock area.";
	ViewBag.BodyCssClass = "content-page speakers-call";
}


<div class="content-header">
	<div class="container">
		<h1>Speak at Tech Fest</h1>

	</div>	
</div>

<div class="content-container">
	<div class="container">
	    <div class="row copy">
        
        <div id="wufoo-z7x3p9">
Fill out my <a href="http://lrdnug.wufoo.com/forms/z7x3p9">online form</a>.
</div>
<script type="text/javascript">    var z7x3p9; (function (d, t) {
        var s = d.createElement(t), options = {
            'userName': 'lrdnug',
            'formHash': 'z7x3p9',
            'autoResize': true,
            'height': '1016',
            'async': true,
            'header': 'show'
        };
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function () {
            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
            try { z7x3p9 = new WufooForm(); z7x3p9.initialize(options); z7x3p9.display(); } catch (e) { } 
        };
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');</script>
        
        </div>
    </div>
</div>