@{
    ViewBag.Title = "Schedule - Little Rock Tech Fest";
    ViewBag.MetaDescription = "Schedule of events for Little Rock Tech Fest, organized by the Little Rock .NET User Group. Little Rock Tech Fest is a one day tech fest serving the Greater Little Rock area.";
	ViewBag.BodyCssClass = "content-page schedule";
}

<div class="content-header">
	<div class="container">
		<h1>Schedule</h1>
	</div>	
</div>

<div class="content-container">
	<div class="container">

	    <div class="row">
            <table class="table table-striped">
                <tr>
                    <td>8:00 AM - 8:30 AM</td>
                    <td>Registration</td>
                </tr>
                <tr>
                    <td>8:30 AM - 8:50 AM</td>
                    <td>Opening Announcements</td>
                </tr>
                <tr>
                    <td>9:00 AM - 9:50 AM</td>
                    <td>Breakout Sessions</td>
                </tr>
                <tr>
                    <td>9:00 AM - 9:50 AM</td>
                    <td>Breakout Sessions</td>
                </tr>
                <tr>
                    <td>10:00 AM - 10:50 AM</td>
                    <td>Breakout Sessions</td>
                </tr>
                <tr>
                    <td>11:00 AM - 11:30 AM</td>
                    <td>Keynote Speaker #1</td>
                </tr>
                <tr>
                    <td>11:30 AM - 12:30 PM</td>
                    <td>Lunch</td>
                </tr>
                <tr>
                    <td>12:30 PM - 1:20 PM</td>
                    <td>Breakout Sessions</td>
                </tr>
                <tr>
                    <td>1:30 PM - 2:20 PM</td>
                    <td>Breakout Sessions</td>
                </tr>
                <tr>
                    <td>2:30 PM - 3:20 PM</td>
                    <td>Breakout Sessions</td>
                </tr>
                <tr>
                    <td>3:30 PM - 4:00 PM</td>
                    <td>Keynote Speaker #2</td>
                </tr>
                <tr>
                    <td>4:00 PM - 4:30 PM</td>
                    <td>Closing Remarks, Prize Drawings</td>
                </tr>
            </table>
        </div>

@*
	    <div class="row">
            <div class="span3">8:00 AM - 8:30 AM</div>
            <div class="span8 offset1">Registration</div>
        </div>
	    <div class="row">
            <div class="span3">8:30 AM - 8:50 AM</div>
            <div class="span8 offset1">Opening Announcements</div>
        </div>
	    <div class="row">
            <div class="span3">9:00 AM - 9:50 AM</div>
            <div class="span8 offset1">Breakout Sessions</div>
        </div>
	    <div class="row">
            <div class="span3">10:00 AM - 10:50 AM</div>
            <div class="span8 offset1">Breakout Sessions</div>
        </div>
	    <div class="row">
            <div class="span3">11:00 AM - 11:30 AM</div>
            <div class="span8 offset1">Keynote Speaker #1</div>
        </div>
	    <div class="row">
            <div class="span3">11:30 AM - 12:30 PM</div>
            <div class="span8 offset1">Lunch </div>
        </div>
	    <div class="row">
            <div class="span3">12:30 PM - 1:20 PM</div>
            <div class="span8 offset1">Breakout Sessions</div>
        </div>
	    <div class="row">
            <div class="span3">1:30 PM - 2:20 PM</div>
            <div class="span8 offset1">Breakout Sessions</div>
        </div>
	    <div class="row">
            <div class="span3">2:30 PM - 3:20 PM</div>
            <div class="span8 offset1">Breakout Sessions</div>
        </div>
	    <div class="row">
            <div class="span3">3:30 PM - 4:00 PM</div>
            <div class="span8 offset1">Keynote Speaker #2</div>
        </div>
	    <div class="row">
            <div class="span3">4:00 PM - 4:30 PM</div>
            <div class="span8 offset1">Closing Remarks, Prize Drawings</div>
        </div>*@
	</div> 
</div>
